@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Главная страница";
}


<div>
    <h1>Злостный неплательщик</h1>
    <p>Злостный неплательщик это система банкинга внутри малого общества людей.</p>
    <p>Оставайтесь с нами</p>
</div>

@if (!Request.IsAuthenticated)
{
  <div>
      <div>
          <h2>С чего начать?</h2>
          <p>
              Попробуйте зарегестрироваться и сразу же влезайте в долги. Это же прекрасно!
          </p>
      </div>
  </div>
}
else
{
  <div>
    <div>
      <h2>Меню:</h2>
      @Html.ActionLink("Создать событие", "CreateEvent", "Events")
      @Html.ActionLink("Редактиовать событие 2", "CreateEvent", "Events", new {eventId=2}, null)
    </div>
  </div>
}
